<mat-sidenav-container ngClass="body">
<!-- <mat-sidenav-container ngClass="body " [style.marginTop.px]="mobileQuery.matches ? 56 : 0"> -->
  <!-- <mat-sidenav-container ngClass="body"> -->
  <!-- <mat-sidenav #snav [mode]="mobileQuery.matches ? 'side' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" -->
  <mat-sidenav ngClass="sidenav" #snav fixedTopGap="56" mode="side" [opened]="mobileQuery.matches ? 'false' : 'true'">
    <!-- <mat-sidenav ngClass="sidenav" mode="side" opened> -->
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2></h2>
      <h2>Children</h2>
    </div>

    <div cdkDropList #childrenList="cdkDropList" [cdkDropListData]="childrenListData" [cdkDropListConnectedTo]="[doneList, done2List]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of childrenListData" cdkDrag>
        <div>{{childrenListData[0].name}}</div>
        <button mat-icon-button (click)="edit(childrenListData.name)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <h2></h2>
      <button mat-mini-fab color="primary">
        <mat-icon aria-label="Add" (click)="add()">add</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content ngClass="sidenav-content">

    <div *ngFor="let category of categoriesListData | async">
      <h2>{{category.name}}</h2>
      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[childrenList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.name}}</div>
      </div>
    </div>

    <!-- <h2>Junior Worship</h2>
    <div cdkDropList #done2List="cdkDropList" [cdkDropListData]="done2" [cdkDropListConnectedTo]="[childrenList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done2" cdkDrag>{{item}}</div>
    </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div *ngIf="afAuth.user | async as user">
      <div>Welcome {{user.displayName}}</div>
    </div> -->