<div *ngIf="containers; else loading">

  <div cdkDropListGroup>
    <mat-sidenav-container ngClass="body">
  
      <mat-sidenav ngClass="sidenav" #snav fixedTopGap="56" mode="side" [opened]="mobileQuery.matches ? 'false' : 'true'">
        <h2></h2>
        <div fxLayout="row" fxLayoutAlign="center">
          <span fxFlex></span>
          <h2>Children</h2>
          <span fxFlex></span>
          <button mat-mini-fab color="primary">
            <mat-icon aria-label="Add" (click)="add()">add</mat-icon>
          </button>
          <span fxFlex></span>
        </div>
        <h2></h2>
  
        <div cdkDropList #childrenList="cdkDropList" [cdkDropListData]="children" class="example-list"
          (cdkDropListDropped)="drop($event)" fxLayout="column" fxLayoutGap="10px">
  
          <mat-card cdkDrag *ngFor="let child of children">
            <mat-card-header fxFlexLayout="row">
              <mat-icon mat-card-avatar ngClass="md-48" [color]="child.gender === 'boy' ? 'primary' : 'accent'">
                face</mat-icon>
              <mat-card-title>
                {{child.name}}
              </mat-card-title>
              <mat-card-subtitle>
                (Age {{child.age}})
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions fxLayout="row">
              <button mat-icon-button (click)="edit(child)" color="primary">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <div fxFlex></div>
              <mat-icon cdkDragHandle ngClass="md-36">drag_indicator</mat-icon>
            </mat-card-actions>
          </mat-card>
  
        </div>
  
      </mat-sidenav>
  
      <mat-sidenav-content ngClass="sidenav-content">
        <h2></h2> <!-- padding -->
  
        <div *ngFor="let container of containers">
  
          <h1>{{container.name}}</h1>
          <div cdkDropList #containerHolder="cdkDropList" [cdkDropListData]="allocate(containerHolder, container)"
            class="example-list" (cdkDropListDropped)="drop($event, container)" fxLayout="column" fxLayoutGap="10px">
  
            <mat-card cdkDrag *ngFor="let child of retrieve(containerHolder)">
              <mat-card-header>
                <mat-icon mat-card-avatar ngClass="mat-icon md-48"
                  [color]="child.gender === 'boy' ? 'primary' : 'accent'">face
                </mat-icon>
                <mat-card-title>
                  {{child.name}}
                </mat-card-title>
                <mat-card-subtitle>
                  (Age {{child.age}})
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div *ngIf="child.important" fxLayout="row">
                  <mat-icon color="warn">warning</mat-icon>
                  <div>{{child.important}}</div>
                </div>
              </mat-card-content>
              <mat-card-actions fxLayout="row" fxLayoutAlign="start">
  
                <mat-icon cdkDragHandle ngClass="md-36">drag_indicator</mat-icon>
                <div fxFlex></div>
                <button mat-icon-button (click)="edit(child)" color="primary">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
  
          </div>
          <h2></h2>
  
        </div>
  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>
<ng-template #loading>
  <div *ngIf="error; else showLoading">

    <div ngClass="body" fxLayout="row" fxLayoutAlign="center center">
      {{error}}
    </div>

  </div>
  <ng-template #showLoading>

    <div ngClass="body" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>

  </ng-template>
</ng-template>