/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~firebaseui/dist/firebaseui.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
