/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~firebaseui/dist/firebaseui.css';
.body {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}